.content-inforReserved {
	background-color: #353535;
	padding: 30px 0;

	.inforReserved {
		display: flex;
		justify-content: space-between;
		gap: 15px;

		@media screen and (max-width:768px) {
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
	}

	.social-media,
	.credit-card {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.powered {
		display: flex;
		align-items: flex-start;
		gap: 25px;

		img {
			@media screen and (max-width:768px) {
				filter: opacity(0.5);
			}
		}

		h4 {
			font-family: "Open Sans", sans-serif;
			color: #fff;
			font-size: 10px;
			font-weight: 400;
			margin-bottom: 5px;
			text-align: center;

			@media screen and (max-width:768px) {
				filter: opacity(0.5);
			}

		}
	}
}